
.type-1441 {
    background-image: url(../images/1441.png);
    margin-top: 100px;
   .content{
     margin: 5%;
        h2{
            letter-spacing: 5px;
            font-size: 2em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        p{
            padding-top: 5%;
            margin-bottom: 50px;
            font-family: 'Times New Roman', Times, serif;
            vertical-align: baseline;
            color: #ffffff;
            font-size: 1.2em;
            line-height: 2;
        }
        img{
            color: black
        }
      
   }
}

