.type-1441 {
    background: #ffc851;
   .content{
        z-index: 555;
        padding-top: 50px;
        h2{
            font: 400 24px/32px Libre Baskerville;
        }
        p{
            font: 400 16px/24px Varela Round;
            vertical-align: baseline;
            color: #9f9f9f;
        }
   }
}
