.type-1455 {
  margin-top: 30px;
  background: rosybrown;
  .navbar-brand {
    color: #fff;
  }

  .navbar-brand:hover {
    color: #fff;
  }

  /*==Style cho menu===*/
  .navbar-default {
    background: #999597;
  }

  .navbar-nav li {
    color: #f1f1f1;
    font-weight: bold;
  }

  .navbar-nav li a {
    text-decoration: none;
    color: #fff;
    display: block;
  }

  .navbar-nav li a:hover {
    background: #F1F1F1;
    color: #333;
  }

  .input-group-btn {
    background: rgb(228, 53, 9);
  }

  .form-arka-plan {
    background-image: url(../images/1455.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .acik-renk-form {
    background: rgba(255, 255, 255, 0.58);
  }

  .siyah-cerceve {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .py-5 {
    padding-top: 10px;
    padding-bottom: 90px
  }

  .card-body {
    padding: 20px;
    margin-top: 57px;
  }
  .text-white{
    font-size: 4em;
    
  }

  @media only screen and (max-width: 767px) {
    #alignment-example {
      position: absolute;
      background: #999597;
      z-index: 1;
      width: 100%;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #input {
      width: 50em;
    }
  }
}