body {
    font-family: sans-serif;
    color: #333;
  }
.type-897 {
      /*==Style cho menu===*/
      #menu ul {
        background: #1F568B;
        list-style-type: none;
        text-align: center;
      }
      #menu li {
        color: #f1f1f1;
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        margin-left: -5px;
        font-weight: bold;
      }
      #menu a {
        text-decoration: none;
        color: #fff;
        display: block;
      }
      #menu a:hover {
        background: #F1F1F1;
        color: #333;
      }
      
      .input-group{
          float: right;
         margin-top: 3px;
       margin-right: 5px;
      }
      
    .input-group-btn{
        background:rgb(228, 53, 9);
    }
    
.key_features {
  
    padding: 36px 0 69px 0; }
   .key_features .title-key .title {
      font-size: 3rem;
      font-family: "Poppins", sans-serif;
      color: #222;
      font-weight: bold; }
    .key_features .title-key .sub_title {
      font-size: 2.8rem;
      font-family: "Poppins", sans-serif;
      color: #222;
      font-weight: 200; }
   .key_features .box-item {
      margin-top: 74px;
   margin-left: 5%;}
       .key_features .box-item .box {
        background: #fff;
        border-radius: 10px;
        position: relative;
        max-width: 170px;
        max-height: 170px;
        margin-bottom: 30px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
        .key_features .box-item .box .price {
          font-family: "Poppins", sans-serif;
          font-size: 1.1rem;
          font-weight: 500;
          border-radius: 100%;
          max-width: 31px;
          padding: 7.5px 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 10px;
          left: 10px; }
         .key_features .box-item .box .icon_box {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 110px; }
         .key_features .box-item .box .text_box {
          padding-bottom: 22px; }
           .key_features .box-item .box .text_box .title {
            font-family: "Poppins", sans-serif;
            font-size: 1.2rem;
            font-weight: 800;
            color: #101010;
            text-transform: uppercase;
            margin-bottom: 3px; }
         .key_features .box-item .box .text_box .sub_title {
            font-family: "Roboto", serif;
            font-size: 1.1rem;
            font-weight: 400;
            color: #909090;
            padding: 0 5px; }
         #btnContainer {
                 float: right;
                }

 .btn:hover,
 .btn.active {
    color: #00aeef;
    border-color: #00aeef;
}

.btn {
    border: 1px solid #a0a0a0;
    display: inline-block;
    height: 32px;
    margin-top: 0;
    padding: 0;
    text-align: cent;
    vertical-align: top;
    width: 32px;
    background: none;

}

}



