.type-1455 .navbar-brand {
  color: #fff;
}
.type-1455 .navbar-brand:hover {
  color: #fff;
}
.type-1455 .navbar-default {
  background: #1f2035;
}
.type-1455 .navbar-nav li {
  color: #f1f1f1;
  font-weight: bold;
}
.type-1455 .navbar-nav li a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.type-1455 .navbar-nav li a:hover {
  background: #F1F1F1;
  color: #333;
}
.type-1455 .navbar-nav {
  padding-left: 240px;
}
.type-1455 .input-group-btn {
  background: #e43509;
}
.type-1455 .form-arka-plan {
  background-image: url(../images/1455.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.type-1455 .acik-renk-form {
  background: rgba(255,255,255,0.58);
}
.type-1455 .siyah-cerceve {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.type-1455 .py-5 {
  padding-top: 120px;
  padding-bottom: 100px;
}
.type-1455 .card-body {
  padding: 20px;
  margin-top: 57px;
}
@media only screen and (max-width: 767px) {
  .type-1455 #alignment-example {
    position: absolute;
    background: #1F568B;
    z-index: 1;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .type-1455 #input {
    width: 50em;
  }
}
