.type-1455 #menu ul {
  list-style-type: none;
  text-align: center;
}
.type-1455 #menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
  font-weight: bold;
}
.type-1455 #menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.type-1455 #menu a:hover {
  background: #F1F1F1;
  color: #333;
}
.type-1455 .form-arka-plan {
  background-image: url(../images/1455.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.type-1455 .acik-renk-form {
  background: rgba(255,255,255,0.58);
}
.type-1455 .siyah-cerceve {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.type-1455 .py-5 {
  padding-top: 120px;
  padding-bottom: 100px;
}
.type-1455 .card-body {
  padding: 20px;
  margin-top: 57px;
}
