.type-1455 .form-arka-plan {
  background-image: url("https://cdn.filepicker.io/api/file/1WxRtkAQG5h70aoPQdGA/convert?format=jpeg&quality=50");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.type-1455 .acik-renk-form {
  background: rgba(255,255,255,0.58);
}
.type-1455 .siyah-cerceve {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.type-1455 .py-5 {
  padding-top: 170px;
  padding-bottom: 100px;
}
.type-1455 .card-body {
  padding: 20px;
  margin-top: 57px;
}
