body {
  background: #1d2928;
}
.type-1450 {
  background: #1d2928;
  margin-top: 40px;
}
.type-1450 .collas {
  height: 70px;
  position: relative;
  border-bottom: 3px solid #ffffff;
}
.type-1450 .collas .custom {
  display: flex;
  justify-content: center;
}
.type-1450 .collas a {
  text-transform: uppercase;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  border: 4px solid #ffffff;
  border-bottom: none;
}
.type-1450 .collas a:hover {
  color: #575252;
}
.type-1450 .collas .style-all {
  visibility: hidden;
  position: absolute;
  margin-top: 40px;
}
.type-1450 .collas .style-all p {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 2;
}
.type-1450 .collas .style-rev {
  visibility: hidden;
  position: absolute;
  margin-top: 20px;
  width: 100%;
}
.type-1450 .collas .style-rev h2 {
  color: #ffffff;
}
.type-1450 .collas .style-ship {
  visibility: hidden;
  margin-top: 40px;
}
.type-1450 .collas .style-ship .one h2 {
  color: #ffffff;
  text-align: center;
}
.type-1450 .collas .style-ship .one p {
  color: #ffffff;
  text-align: center;
}
.type-1450 .collas .style-ship .two {
  border-left: 1px solid #ffffff;
}
.type-1450 .collas .style-ship .two h2 {
  color: #ffffff;
  text-align: center;
}
.type-1450 .collas .style-ship .two p {
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .type-1450 .collas a {
    font-size: 1em !important;
  }
}
@media screen and (max-width: 992px) {
  .type-1450 .collas .one h2 {
    font-size: 1.5em !important;
  }
  .type-1450 .collas .two {
    border-left: none !important;
  }
  .type-1450 .collas .two h2 {
    font-size: 1.5em !important;
  }
}
@media screen and (max-width: 737px) {
  .type-1450 .collas {
    border-bottom: none !important;
  }
  .type-1450 .collas a {
    font-size: 0.8em !important;
    border: 2px solid #ffffff !important;
  }
  .type-1450 .collas .one h2 {
    font-size: 1.5em;
  }
  .type-1450 .collas .two {
    border: none !important;
  }
  .type-1450 .collas .two h2 {
    font-size: 1.5em !important;
  }
  .type-1450 .collas p {
    line-height: 2 !important;
    font-size: 1em !important;
  }
}
