body {
  margin: 0;
  width: 100%;
  height: 100%;
}
.type-897 {
  background: #ddd;
}
.type-897 #content {
  padding-right: 0;
  padding-left: 15px;
  min-height: 300px;
  margin-bottom: 70px;
  margin-top: 40px;
}
.type-897 .content_bg {
  margin-bottom: 20px;
  width: 99.6%;
}
.type-897 .category-info h2 {
  font-size: 3em;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 35px;
  margin-top: 0;
  color: #000;
  font-family: 'Times New Roman';
}
.type-897 .info_detail p {
  font-size: 1.5em;
  line-height: 1.55em;
  color: #000;
  font-weight: 400;
  font-family: 'Times New Roman';
}
.type-897 .product-filter {
  margin-bottom: 30px;
  float: left;
  width: 98.7%;
  background: #ddd;
  border-radius: 4px;
  padding: 10px 3px;
}
.type-897 .product-filter .sort {
  border: 1px solid #A0A0A0;
  padding: 5px 14px;
  position: relative;
  float: left;
  color: #000;
  margin-right: 20px;
}
.type-897 .product-filter label.control-label {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  margin: 0;
  padding: 0;
  text-transform: none;
}
.type-897 .product-filter label.control-label label {
  margin: 0;
}
.type-897 #input-sort,
.type-897 #input-limit {
  -moz-appearance: none;
  background-color: #f4f4f4;
  color: #818181;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 40px;
  margin: 0;
  outline: medium none;
  width: 150px;
}
.type-897 .form-control {
  background-image: none;
  border: 1px solid #ebebeb;
  color: #646464;
  display: block;
  padding: 7px 8px 9px;
  box-shadow: none !important;
  line-height: 1.42857143;
  color: #555;
}
.type-897 .product-filter .bootstrap-select.btn-group:not(.input-group-btn) {
  position: static;
}
.type-897 .bootstrap-select.btn-group:not(.input-group-btn) {
  float: none;
  display: inline-block;
  margin-left: 0;
}
.type-897 .product-filter .bootstrap-select {
  width: auto;
  height: auto;
  background: none;
  box-shadow: none;
  margin: -2px 0 0;
}
.type-897 .bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.type-897 .bootstrap-select .filter-option {
  display: block;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.type-897 .product-filter .sort .bootstrap-select>.btn1 {
  font-size: 15px;
  color: #000;
  font-weight: 400;
}
.type-897 .product-filter .compare-total {
  float: left;
  margin-right: 20px;
}
.type-897 .product-filter .compare-total a {
  border: 1px solid #A0A0A0;
  padding: 5px 14px;
  float: left;
  margin-right: 20px;
  height: 38px;
  color: #000;
}
.type-897 .btn-group .dropdown-menu {
  min-width: 100%;
  z-index: 2000;
  box-shadow: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.type-897 .btn-group .dropdown-menu li>a {
  cursor: pointer;
  outline: none !important;
  padding-left: 13px;
  padding-right: 13px;
  color: #8c8c8c;
}
.type-897 .btn-group .dropdown-menu li a i.check-mark {
  display: none;
}
.type-897 .product-filter .limit {
  border: 1px solid #a0a0a0;
  padding: 5px 14px;
  position: relative;
  float: right;
  margin-left: 20px;
}
.type-897 .product-filter label.control-label {
  display: inline-block;
  font-size: 15px;
  color: #000;
  font-weight: 400;
}
.type-897 #input-limit {
  background-color: #f4f4f4;
  color: #818181;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  margin: 0;
  outline: medium none;
  width: 150px;
}
.type-897 .product-filter .limit .bootstrap-select>.btn1 {
  height: auto;
  font-size: 15px;
  color: #000;
  box-shadow: none;
  position: relative;
  font-weight: bold;
  padding: 0 8px;
  background: none;
  border: medium none;
}
.type-897 .product-filter>.btn-group {
  float: right;
  margin-top: 0;
  vertical-align: top;
}
.type-897 .btn-group {
  position: relative;
  display: inline-block;
}
.type-897 .fa-th:before {
  content: "\f00a";
}
.type-897 .key_features {
  background: #f7f7f7;
  margin-top: 10%;
  padding: 96px 0 69px 0;
}
.type-897 .key_features .title-key .title {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: #222;
  font-weight: bold;
}
.type-897 .key_features .title-key .sub_title {
  font-size: 2.8rem;
  font-family: "Poppins", sans-serif;
  color: #222;
  font-weight: 200;
}
.type-897 .key_features .box-item {
  margin-top: 74px;
}
.type-897 .key_features .box-item .box {
  background: #fff;
  border-radius: 10px;
  position: relative;
  max-width: 170px;
  max-height: 170px;
  margin-bottom: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.type-897 .key_features .box-item .box .price {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 100%;
  max-width: 31px;
  padding: 7.5px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
.type-897 .key_features .box-item .box .icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}
.type-897 .key_features .box-item .box .text_box {
  padding-bottom: 22px;
}
.type-897 .key_features .box-item .box .text_box .title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  color: #101010;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.type-897 .key_features .box-item .box .text_box .sub_title {
  font-family: "Roboto", serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #909090;
  padding: 0 5px;
}
.type-897 #btnContainer {
  float: right;
}
.type-897 .btn:hover,
.type-897 .btn.active {
  color: #00aeef;
  border-color: #00aeef;
}
.type-897 .btn {
  border: 1px solid #a0a0a0;
  display: inline-block;
  height: 32px;
  margin-top: 0;
  padding: 0;
  text-align: cent;
  vertical-align: top;
  width: 32px;
  background: none;
}
