body {
    background: rgb(29, 41, 40);
}

.type-1450 {
    background: rgb(29, 41, 40);
    margin-top: 40px;

    .collas {
        // background: rgb(228, 224, 221);
        height: 70px;
        position: relative;
        border-bottom: 3px solid #ffffff;

        .custom {
            display: flex;
            justify-content: center;

        }

        a {
            text-transform: uppercase;
            padding: 20px 40px 20px 40px;
            text-decoration: none;
            color: #ffffff;
            display: inline-block;
            font-weight: bold;
            font-size: 1.2em;
            border: 4px solid #ffffff;
            border-bottom: none;

            &:hover {
                color: #575252;
            }
        }

        .style-all {
            visibility: hidden;
            position: absolute;
            margin-top: 40px;

            p {
                color: #ffffff;
                font-size: 1.2em;
                line-height: 2;
            }
        }

        .style-rev {
            visibility: hidden;
            position: absolute;
            margin-top: 20px;
            width: 100%;

            h2 {
                color: #ffffff;
            }
        }

        .style-ship {
            visibility: hidden;
            margin-top: 40px;

            .one {
                h2 {
                    color: #ffffff;
                    text-align: center;
                }

                p {
                    color: #ffffff;
                    text-align: center;
                }
            }

            .two {
                border-left: 1px solid #ffffff;

                h2 {
                    color: #ffffff;
                    text-align: center;
                }

                p {
                    color: #ffffff;
                    text-align: center;
                }
            }

        }
    }

    @media screen and (max-width: 1200px) {
        .collas a {
            font-size: 1em !important;
        }
    }

    @media screen and (max-width: 992px) {
        .collas {
            .one{
                h2 {
                    font-size: 1.5em !important;
                }
            }
            .two {
                border-left: none !important;

                h2 {
                    font-size: 1.5em !important;
                }
            }
        }
    }

    @media screen and (max-width: 737px) {

        .collas {
            border-bottom: none !important;

            a {
                font-size: 0.8em !important;
                border: 2px solid #ffffff !important;
            }

            .one {
                h2 {
                    font-size: 1.5em;
                }
            }

            .two {
                border: none !important;

                h2 {
                    font-size: 1.5em !important;
                }
            }

            p {
                line-height: 2 !important;
                font-size: 1em !important;
            }
        }
    }

}